
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
#gameContainer {
  text-align: center;
}
canvas {
  background-color: #222;
  border: 3px solid #000;
}
#score {
  margin-top: 10px;
  font-weight: bold;
}
